
<guac-viewport>

    <!-- Client view -->
    <div class="client-view">
        <div class="client-view-content">

            <!-- Central portion of view -->
            <div class="client-body" guac-touch-drag="menuDrag">

                <!-- All connections in current display -->
                <guac-tiled-clients
                    on-close="closeClientTile($client)"
                    client-group="clientGroup"
                    emulate-absolute-mouse="menu.emulateAbsoluteMouse">
                </guac-tiled-clients>

            </div>

            <!-- Bottom portion of view -->
            <div class="client-bottom">

                <!-- Text input -->
                <div class="text-input-container" ng-if="showTextInput">
                    <guac-text-input></guac-text-input>
                </div>

                <!-- On-screen keyboard -->
                <div class="keyboard-container" ng-if="showOSK">
                    <guac-osk layout="'CLIENT.URL_OSK_LAYOUT' | translate"></guac-osk>
                </div>

            </div>

        </div>
    </div>

    <!-- File transfers -->
    <div id="file-transfer-dialog" ng-show="hasTransfers()">
        <guac-file-transfer-manager client-group="clientGroup"></guac-file-transfer-manager>
    </div>

    <!-- Connection stability warning -->
    <div id="connection-warning" ng-show="isConnectionUnstable()">
        {{'CLIENT.TEXT_CLIENT_STATUS_UNSTABLE' | translate}}
    </div>
    
    <!-- Menu -->
    <div class="menu" ng-class="{open: menu.shown}" id="guac-menu">
        <div class="menu-content" ng-if="menu.shown" guac-touch-drag="menuDrag">

            <!-- Stationary header -->
            <div class="header">
                <h2 ng-hide="rootConnectionGroups">{{ getName(clientGroup) }}</h2>
                <h2 class="connection-select-menu" ng-show="rootConnectionGroups">
                    <guac-menu menu-title="getName(clientGroup)" interactive="true">
                        <div class="all-connections">
                            <guac-group-list-filter connection-groups="rootConnectionGroups"
                                filtered-connection-groups="filteredRootConnectionGroups"
                                placeholder="'CLIENT.FIELD_PLACEHOLDER_FILTER' | translate"
                                connection-properties="filteredConnectionProperties"
                                connection-group-properties="filteredConnectionGroupProperties"></guac-group-list-filter>
                            <guac-group-list
                                connection-groups="filteredRootConnectionGroups"
                                context="connectionListContext"
                                templates="{
                                    'connection'       : 'app/client/templates/connection.html',
                                    'connection-group' : 'app/client/templates/connectionGroup.html'
                                }"
                                page-size="10"></guac-group-list>
                        </div>
                    </guac-menu>
                </h2>
                <div class="share-menu" ng-show="canShareConnection()">
                    <guac-menu menu-title="'CLIENT.ACTION_SHARE' | translate">
                        <ul ng-repeat="sharingProfile in sharingProfiles">
                            <li><a ng-click="share(sharingProfile)">{{sharingProfile.name}}</a></li>
                        </ul>
                    </guac-menu>
                </div>
                <guac-user-menu local-actions="clientMenuActions"></guac-user-menu>
            </div>

            <!-- Scrollable body -->
            <div class="menu-body" guac-touch-drag="visibleMenuDrag" guac-scroll="menu.scrollState">

                <!-- Connection sharing -->
                <div class="menu-section" id="share-links" ng-show="isShared()">
                    <div class="content">
                        <h3>{{'CLIENT.INFO_CONNECTION_SHARED' | translate}}</h3>
                        <p class="description"
                           translate="CLIENT.HELP_SHARE_LINK"
                           translate-values="{LINKS : getShareLinkCount()}"></p>
                        <table>
                            <tr ng-repeat="link in focusedClient.shareLinks | toArray | orderBy: value.name">
                                <th>{{link.value.name}}</th>
                                <td><a href="{{link.value.href}}" target="_blank">{{link.value.href}}</a></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- Clipboard -->
                <div class="menu-section" id="clipboard-settings">
                    <h3>{{'CLIENT.SECTION_HEADER_CLIPBOARD' | translate}}</h3>
                    <div class="content">
                        <p class="description">{{'CLIENT.HELP_CLIPBOARD' | translate}}</p>
                        <guac-clipboard></guac-clipboard>
                    </div>
                </div>

                <!-- Devices -->
                <div class="menu-section" id="devices" ng-if="focusedClient.filesystems.length">
                    <h3>{{'CLIENT.SECTION_HEADER_DEVICES' | translate}}</h3>
                    <div class="content">
                        <div class="device filesystem" ng-repeat="filesystem in focusedClient.filesystems" ng-click="showFilesystemMenu(filesystem)">
                            {{filesystem.name}}
                        </div>
                    </div>
                </div>

                <!-- Connection parameters which may be modified while the connection is open -->
                <div class="menu-section connection-parameters" id="connection-settings" ng-if="focusedClient.protocol">
                    <guac-form namespace="getProtocolNamespace(focusedClient.protocol)"
                               content="focusedClient.forms"
                               model="menu.connectionParameters"
                               model-only="true"></guac-form>
                </div>

                <!-- Input method -->
                <div class="menu-section" id="keyboard-settings">
                    <h3>{{'CLIENT.SECTION_HEADER_INPUT_METHOD' | translate}}</h3>
                    <div class="content">

                        <!-- No IME -->
                        <div class="choice">
                            <label><input id="ime-none" name="input-method" ng-change="closeMenu()" ng-model="menu.inputMethod" type="radio" value="none"> {{'CLIENT.NAME_INPUT_METHOD_NONE' | translate}}</label>
                            <p class="caption"><label for="ime-none">{{'CLIENT.HELP_INPUT_METHOD_NONE' | translate}}</label></p>
                        </div>

                        <!-- Text input -->
                        <div class="choice">
                            <div class="figure"><label for="ime-text"><img src="images/settings/tablet-keys.svg" alt=""></label></div>
                            <label><input id="ime-text" name="input-method" ng-change="closeMenu()" ng-model="menu.inputMethod" type="radio" value="text"> {{'CLIENT.NAME_INPUT_METHOD_TEXT' | translate}}</label>
                            <p class="caption"><label for="ime-text">{{'CLIENT.HELP_INPUT_METHOD_TEXT' | translate}} </label></p>
                        </div>

                        <!-- Guac OSK -->
                        <div class="choice">
                            <label><input id="ime-osk" name="input-method" ng-change="closeMenu()" ng-model="menu.inputMethod" type="radio" value="osk"> {{'CLIENT.NAME_INPUT_METHOD_OSK' | translate}}</label>
                            <p class="caption"><label for="ime-osk">{{'CLIENT.HELP_INPUT_METHOD_OSK' | translate}}</label></p>
                        </div>

                    </div>
                </div>

                <!-- Mouse mode -->
                <div class="menu-section" id="mouse-settings">
                    <h3>{{'CLIENT.SECTION_HEADER_MOUSE_MODE' | translate}}</h3>
                    <div class="content">
                        <p class="description">{{'CLIENT.HELP_MOUSE_MODE' | translate}}</p>

                        <!-- Touchscreen -->
                        <div class="choice">
                            <input name="mouse-mode" ng-change="closeMenu()" ng-model="menu.emulateAbsoluteMouse" type="radio" ng-value="true" checked="checked" id="absolute">
                            <div class="figure">
                                <label for="absolute"><img src="images/settings/touchscreen.svg" alt="{{'CLIENT.NAME_MOUSE_MODE_ABSOLUTE' | translate}}"></label>
                                <p class="caption"><label for="absolute">{{'CLIENT.HELP_MOUSE_MODE_ABSOLUTE' | translate}}</label></p>
                            </div>
                        </div>

                        <!-- Touchpad -->
                        <div class="choice">
                            <input name="mouse-mode" ng-change="closeMenu()" ng-model="menu.emulateAbsoluteMouse" type="radio" ng-value="false" id="relative">
                            <div class="figure">
                                <label for="relative"><img src="images/settings/touchpad.svg" alt="{{'CLIENT.NAME_MOUSE_MODE_RELATIVE' | translate}}"></label>
                                <p class="caption"><label for="relative">{{'CLIENT.HELP_MOUSE_MODE_RELATIVE' | translate}}</label></p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Display options -->
                <div class="menu-section" id="display-settings" ng-if="focusedClient">
                    <h3>{{'CLIENT.SECTION_HEADER_DISPLAY' | translate}}</h3>
                    <div class="content">
                        <div id="zoom-settings">
                            <guac-client-zoom client="focusedClient"></guac-client-zoom>
                        </div>
                    </div>
                </div>
                
                <!-- Latency Test -->
                <div class="menu-section" id="latency-status">
                    <h3>{{'CLIENT.SECTION_HEADER_LATENCY' | translate}}</h3>
                    <div class="content">
                        <div id="latency">
                            <p>{{'CLIENT.TEXT_LATENCY_CURRENT' | translate}}: <span id="ltc-current-value">N/A</span> ms</p>
                            <p>{{'CLIENT.TEXT_LATENCY_AVERAGE' | translate}} (1 min): <span id="ltc-1-average">N/A</span> ms</p>
                            <p>{{'CLIENT.TEXT_LATENCY_AVERAGE' | translate}} (10 min): <span id="ltc-10-average">N/A</span> ms</p>
                            <p>Min: <span id="ltc-min">N/A</span> ms</p>
                            <p>Max: <span id="ltc-max">N/A</span> ms</p>
                        </div>
                    </div>
                                
                    <form id="ltc-samples-form" onsubmit="submitSamples();return false">
                        <label>{{'CLIENT.TEXT_LATENCY_SAMPLES' | translate}}:</label>
                        <input type="number" id="ltc-samples" min="5" max="200" value=10 placeholder="10" style="width: 50px;">
                        <input type="submit" style="border-radius: 5px;">
                    </form>
                    
                    <div>
                        <canvas id="ltcHistory" style="height:100%;max-height:200px;width:100%;max-width:400px"></canvas>
                    </div>
                    
                    <button onclick="resetLatency()" style="border-radius: 5px;">Reset</button>
                    
                    <script>
                    
                        if(!localStorage.getItem("ltc-samples")) {
                            localStorage.setItem("ltc-samples", 40);
                        } else if(!localStorage.getItem('ltc-values')) {
                            localStorage.setItem("ltc-values", []);
                        } else if(!localStorage.getItem('ltc-min')) {
                            localStorage.setItem("ltc-min", []);
                        } else if(!localStorage.getItem('ltc-max')) {
                            localStorage.setItem("ltc-max", []);
                        }
                        
                        if(localStorage.getItem('ltc-min')!=""){
                            setInnerHTML('ltc-min', localStorage.getItem('ltc-min'));
                        }
                        if(localStorage.getItem('ltc-max')!=""){
                            setInnerHTML('ltc-max', localStorage.getItem('ltc-max'));
                        }
                        
                        var all_values = localStorage.getItem('ltc-values').split(',');
                        var all_ltc_values = [];
                        var all_ltc_timestamps = [];

                        all_values.reduce((a,b) => {if(b==""){all_values.shift();return};all_ltc_values.push(b.split('|').map(Number)[0]);all_ltc_timestamps.push(b.split('|').map(Number)[1])}, 0);

                        var ltc_values = all_ltc_values.slice(all_ltc_values.length-localStorage.getItem("ltc-samples"),all_ltc_values.length);

                        var latencyHistoryChart = new Chart("ltcHistory", {
                            type: 'line',
                            data: {
                                labels: [],
                                datasets: [{
                                    label: 'Latency',
                                data: [],
                                fill: false,
                                borderColor: 'rgb(21,117,141)',
                                tension: 0.1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function(value, index, ticks) {
                                            return value + ' ms';
                                        }
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    display: false
                                }
                            }
                        }
                    });
                        
                        
                        function getAverage(data) {
                            return data.reduce((a, b) => a + b, 0) / data.length;
                        }

                        function findNearestValue(array, value) {
                            return array.reduce((a,b)=>{return Math.abs(b - value) < Math.abs(a - value) ? b : a});
                        }

                        function setInnerHTML(name, data) {
                            let html = document.getElementById(name);
                            if(html) {
                                html.innerHTML = data;
                            }
                        }

                        function addLatencyValue(data) {
                            
                            if ((Date.now()-all_ltc_timestamps[0])>601000) {
                                all_values.shift();
                                all_ltc_values.shift();
                                all_ltc_timestamps.shift();
                            }
                            
                            var chartLength = ltc_values.length;
                            if(chartLength+1>localStorage.getItem("ltc-samples")){
                                ltc_values.shift();
                            }
                            
                            all_ltc_values.push(data);
                            ltc_values.push(data);
                            all_ltc_timestamps.push(Date.now());
                            all_values.push(data+"|"+Date.now());

                            setInnerHTML('ltc-current-value', data.toFixed(2));

                            checkLatencyMinMax(data);
                            
                            // Set history to values
                            latencyHistoryChart.data.datasets[0].data = ltc_values;
                            latencyHistoryChart.data.labels = Array(ltc_values.length).fill("");
                            
                            localStorage.setItem("ltc-values", all_values);
                            
                            // Check averages
                            if(all_ltc_timestamps[0]<(Date.now()-600000)) {
                                let longArray = all_ltc_values.slice(all_ltc_timestamps.indexOf(findNearestValue(all_ltc_timestamps,(Date.now()-600000))), all_ltc_values.length)
                                setInnerHTML('ltc-10-average', getAverage(longArray).toFixed(2));
                                let shortArray = all_ltc_values.slice(all_ltc_timestamps.indexOf(findNearestValue(all_ltc_timestamps,(Date.now()-60000))), all_ltc_values.length)
                                setInnerHTML('ltc-1-average', getAverage(shortArray).toFixed(2));

                            } else if(all_ltc_timestamps[0]<(Date.now()-60000)) {
                                let shortArray = all_ltc_values.slice(all_ltc_timestamps.indexOf(findNearestValue(all_ltc_timestamps,(Date.now()-60000))), all_ltc_values.length)
                                setInnerHTML('ltc-1-average', getAverage(shortArray).toFixed(2));
                            }

                            latencyHistoryChart.update();
                        }

                        function checkLatencyMinMax(latency) {
                            var min = localStorage.getItem("ltc-min");
                            var max = localStorage.getItem("ltc-max");
                            
                            if(latency<min) {
                                localStorage.setItem("ltc-min", latency);
                                setInnerHTML('ltc-min', latency.toFixed(2));
                            } else if(latency>max) {
                                localStorage.setItem("ltc-max", latency);
                                setInnerHTML('ltc-max', latency.toFixed(2));
                            } else if(min=="") {
                                localStorage.setItem("ltc-min", latency);
                                setInnerHTML('ltc-min', latency.toFixed(2));
                            } else if(max==""){
                                localStorage.setItem("ltc-max", latency);
                                setInnerHTML('ltc-max', latency.toFixed(2));
                            }
                        }

                        // Set Sample Size

                        var latency_samples = document.getElementById('ltc-samples');
                        
                        latency_samples.value = localStorage.getItem('ltc-samples');
                        

                        var latency_samples_form = document.getElementById('ltc-samples-form');
                        function submitSamples() {
                            if(latency_samples.value>all_ltc_values.length) {
                                ltc_values = all_ltc_values;
                            } else {
                                ltc_values = all_ltc_values.slice(all_ltc_values.length-latency_samples.value,all_ltc_values.length);
                            }
                            localStorage.setItem("ltc-samples", latency_samples.value);
                        };

                        function resetLatency() {
                            const reponseConfirm = confirm("Möchtest du wirklich alle Latenzwerte zurücksetzen?\n\nBitte bestätige mit \"OK\".");

                            if(!reponseConfirm){return}

                            localStorage.setItem("ltc-values", []);
                            localStorage.setItem("ltc-min", []);
                            localStorage.setItem("ltc-max", []);
                            setInnerHTML("ltc-min", "N/A");
                            setInnerHTML("ltc-max", "N/A");
                            setInnerHTML("ltc-1-average", "N/A");
                            setInnerHTML("ltc-10-average", "N/A");
                            setInnerHTML("ltc-current-value", "N/A");
                            all_values = [];
                            ltc_values = [];
                            all_ltc_timestamps = [];
                            all_ltc_values = [];
                        }

                    </script>
                </div>

            </div>

        </div>
    </div>

    <!-- Filesystem menu -->
    <div id="filesystem-menu" class="menu" ng-class="{open: isFilesystemMenuShown()}">
        <div class="menu-content">

            <!-- Stationary header -->
            <div class="header">
                <h2>{{filesystemMenuContents.name}}</h2>
                <button class="upload button" guac-upload="uploadFiles">{{'CLIENT.ACTION_UPLOAD_FILES' | translate}}</button>
                <button class="back" ng-click="hideFilesystemMenu()">{{'CLIENT.ACTION_NAVIGATE_BACK' | translate}}</button>
            </div>

            <!-- Breadcrumbs -->
            <div class="header breadcrumbs"><div
                    class="breadcrumb root"
                    ng-click="changeDirectory(filesystemMenuContents, filesystemMenuContents.root)"></div><div
                        class="breadcrumb"
                        ng-repeat="file in getPath(filesystemMenuContents.currentDirectory)"
                        ng-click="changeDirectory(filesystemMenuContents, file)">{{file.name}}</div>
            </div>

            <!-- Scrollable body -->
            <div class="menu-body">
                <guac-file-browser client="client" filesystem="filesystemMenuContents"></guac-file-browser>
            </div>

        </div>
    </div>

</guac-viewport>
